.container{
    outline: red solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.label{
    display: flex;
    border-radius: 7px;
    border: black solid 1px;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.ratio_info{
    /* outline: yellow solid 2px; */
    width: 100%;
}

.choice{
    /* outline: blue solid 2px; */
    display: flex;
    justify-content: space-between
}